* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0px 2rem;
  height: 90vh;
}

/* NAVBAR */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3rem 0px 10px;
  width: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  right: 1.5vw;
  list-style: none;
}

.navline {
  border-bottom: 1px solid black;
  width: 70vw;
  margin-top: 4rem;
}

li {
  margin: 0px 3.5rem;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0px 10px;
}

h1 {
  font-family: "Purple Purse";
  font-size: 3rem;
  line-height: 5.5vh;
}

.nav__left p {
  font-weight: 300;
  font-size: 0.9rem;
}

.nav__left h1,
.nav__left p,
a:hover,
span,
.footer__text p,
button:hover {
  background: linear-gradient(to right, #3b32c1, #1c175b);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

button {
  background: linear-gradient(to right, #3b32c1, #1c175b);
  border-radius: 50px;
  border: none;
  color: white;
  padding: 10px 25px;
  font-size: 1.2rem;
  font-family: Poppins;
  font-weight: 600;
}

button:hover {
  border: #1c175b 1px solid;
}

/* HOMEPAGE */
.home__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80vh;
  align-items: center;
}

.home__container img {
  height: 22rem;
}

.home__intel {
  text-align: center;
}

.home__intel h2 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 3rem;
}

.home__intel span {
  font-weight: 400;
}

.home__intel p {
  font-weight: 200;
  color: black;
}

.home__intel ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 2rem;
}

/* PROJECT PAGE */
.projects__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  align-items: center;
}

.projects__section h2 {
  position: absolute;
  font-size: 3rem;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100vw;
}

.projects__Container {
  font-size: 1rem;
  text-align: center;
  padding: 3rem;
  width: 50vh;
  margin: 0.1rem 13rem;
  background-color: rgb(220, 220, 220);
}

/* DETAILPAGE */

.project__Card img {
  padding: 10px 0px;
  height: 40vh;
  width: 60vw;
  object-fit: cover;
}

.project__Card h2 {
  font-size: 2.4rem;
  line-height: 2rem;
}

.project__Card h3 {
  font-weight: 200;
  font-size: 1rem;
}

.project__Card p {
  margin: 10px 0px;
  line-height: 1.4rem;
  width: 50vw;
}

.project__Card button {
  position: absolute;
  bottom: 13vh;
  padding: 0.5rem 4rem;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 94vw;
  height: 9vh;
  border-top: 1px solid black;
}

.footer__text p {
  font-weight: 600;
}
